BorderPane{
    -fx-background-color: #95C8F5;
}

.chart-series-line{
    -fx-stroke-width: 3px;
}

.default-color0.chart-series-line{
    -fx-stroke: #B3373B;
}

.default-color0.chart-line-symbol{
    -fx-background-color: transparent, transparent;
}