// Sets background color of Ethereum Page
BorderPane{
    -fx-background-color: #F2ACCD;
}

// Thickness of line on the line chart
.chart-series-line{
    -fx-stroke-width: 3px;
}

// Color of line on the line chart
.default-color0.chart-series-line{
    -fx-stroke: #B3373B;
}

// Transparency makes line chart easier to read
.default-color0.chart-line-symbol{
    -fx-background-color: transparent, transparent;
}